.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.container>div {
  margin-right: 1.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: .1rem;

  user-select: none;

  color: var(--color-text-secondary);
}