.brandHeader {
  width: 320px;
  margin: 15px 0;
}

.brandTitle {
  font-size: 2.3rem;
}

.brandTitle span {
  color: var(--color-brand);
}

.brandP {
  font-size: 0.9rem;
  color: var(--color-text-secondary);
}