.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.brandHeader {
  width: 320px;
  margin: 15px 0;
}

.brandTitle {
  font-size: 2.3rem;
}

.brandTitle span {
  color: var(--color-brand);
}

.brandP {
  font-size: 0.9rem;
  color: var(--color-text-secondary);
}

@media screen and (min-width: 1000px) {
  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
  }
}
