.container {
  width: 80%;
  margin: 10px;
  padding: 0 20px;
  border-radius: 15px;



  background: var(--color-mid-grey);
  box-shadow: 1px 2px 11px var(--color-dark-hard-grey);
}

.space {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.title {
  width: 100%;
  padding: 10px 0;
  font-size: 1.5rem;
  flex-grow: 1;
}

.btn {
  width: 20%;
  background: var(--color-dark-green);
  color: var(--color-button-white);
}

.input {
  width: 80%;
  height: 60px;
  font-size: 2rem;
}

.formCreate {
  width: 100%;
}