.container {
  width: 210px;
  max-width: 100%;

  margin: 10px;
  border-radius: 15px;

  background: var(--color-mid-grey);
  box-shadow: 1px 2px 11px var(--color-dark-hard-grey);

  cursor: pointer;
  user-select: none;
  transition: .3s ease-in;
}

.container:hover {
  transform: scale(1.1);
}

.containerHeader {
  background: var(--color-mid-grey);
  color: var(--color-light-grey);
  box-shadow: 1px 1px 4px var(--color-dark-hard-grey);
  font-size: 1.4rem;
  font-weight: bold;
  padding: 15px;
  border-radius: 15px 15px 0 0;
  text-transform: capitalize;
  text-decoration: underline var(--color-brand);
  text-decoration-skip: ink;
  font-family: "Playfair Display",
    serif;
}

.containerBody {
  font-size: 0.975rem;
  padding: 10px;
  color: var(--color-light-mid-grey);
}

.containerBody>ul {
  list-style: none;
}

.link {
  text-decoration: none;
}