:root {
  --color-button-blue: #409df3;
  --color-button-green: #16b916;
  --color-button-white: #fff;
  --color-button-grey: #e4e4e4;
  --color-button-light-grey: #f8f8f8;
  --color-button-dark-grey: #333;

  --color-brand: #dfdc40;

  --color-dark-hard-grey: #0a0a0a;
  --color-dark-grey: #121212;
  --color-mid-grey: #1f1f1f;
  --color-normal-grey: #272727;
  --color-light-mid-grey: #878787;
  --color-light-grey: #dfdfdf;

  --color-red: #b90f0f;
  --color-green: #37b90f;
  --color-blue: #0f67b9;
  --color-orange: #daa805;

  --color-dark-red: #b90f0f;
  --color-dark-green: #37b90f;
  --color-dark-blue: #0e5aa1;

  --color-text-primary: var(--color-light-grey);
  --color-text-secondary: var(--color-light-mid-grey);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.25rem;
  background: var(--color-dark-grey);
  color: var(--color-light-grey);
}

h1,
h2,
h3,
h3 {
  margin: 0;
  padding: 0;
}


button {
  border: none;
  margin: 10px 0;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
}

input[type="text"],
input[type="password"] {
  background: var(--color-dark-grey);
  color: var(--color-light-grey);
  border: none;
  font-size: 1.2rem;
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0;
}