.input {
  width: 100%;
  padding: 7px 10px;
  margin: 10px 0;
}

.btn {
  border: none;
  background: var(--color-button-blue);
  color: var(--color-button-white);
  padding: 10px;
  width: 100%;
  background: var(--color-dark-blue);
  transition: 0.3s ease;
}

.btn:hover {
  filter: brightness(1.75);
}
